/* change body font-family */
body{
    font-family: 'Roboto',
    sans-serif;
    
}
/* navigation part styling */
ul{
    list-style-type: none;
    background-color: #333;
    padding:0;
    margin: 0;
    margin-left: -5px;
}
