/* change body font-family */
body{
    font-family: 'Roboto',
    sans-serif;
    
}
/* navigation part styling */
ul{
    list-style-type: none;
    background-color: rgba(51, 51, 51,);
    padding:0;
    margin: 0;
    margin-left: -5px;
}
/* navigation part list styling */
.bar li{
    box-sizing: border-box;
    display: inline-block;
}
/* navigation part list anchor tag styling */

.bar li a{
    text-decoration: none;
    color: rgb(221, 84, 175);
    text-align: center;
    display: inline-block;
    padding: 30px 40px;
    font-weight: 900;

}
/* header styling */
h1{
    font-size: 50px;
}
/* span part coloring */
.tomato-color{
    color: tomato;
}
/* section part container styling */
.flexible-container{
    display:flex;
    margin-bottom: 150px;
}
/*1st section parts div class stylings */
.set-width{
    width: 50%;
    padding-left: 3%;
    
}
/*1st section parts div class's anchor tag stylings */
.set-width a{
    margin-bottom: 100px;
}
/*1st section parts div class's image stylings */
.set-width img{
    width: 70%;
    padding-left: 10%;
}
/* 2nd sections div id styling */

#div-set-2{
    width: 50%;
    padding-left: 2%;
    text-align: justify;
    margin-right: 80px;
    margin-left: 80px;
    
}
/*1st section parts div class stylings */
.div-food-1{
    display:flex;
    margin-bottom: 120px;
}